# Copyright 2018-2023 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the Oracle implementations of JREs, JDKs, and Native Image"
  homepage = "https://github.com/paketo-buildpacks/oracle"
  id = "paketo-buildpacks/oracle"
  keywords = ["java", "jvm", "jre", "jdk", "native-image"]
  name = "Paketo Buildpack for Oracle"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/oracle/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    default = "0"
    description = "the headroom in memory calculation"
    launch = true
    name = "BPL_JVM_HEAD_ROOM"

  [[metadata.configurations]]
    default = "35% of classes"
    description = "the number of loaded classes in memory calculation"
    launch = true
    name = "BPL_JVM_LOADED_CLASS_COUNT"

  [[metadata.configurations]]
    default = "250"
    description = "the number of threads in memory calculation"
    launch = true
    name = "BPL_JVM_THREAD_COUNT"

  [[metadata.configurations]]
    default = "true"
    description = "enables Java Native Memory Tracking (NMT)"
    launch = true
    name = "BPL_JAVA_NMT_ENABLED"

  [[metadata.configurations]]
    default = "summary"
    description = "configure level of NMT, summary or detail"
    launch = true
    name = "BPL_JAVA_NMT_LEVEL"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Management Extensions (JMX)"
    launch = true
    name = "BPL_JMX_ENABLED"

  [[metadata.configurations]]
    default = "5000"
    description = "configure the JMX port"
    launch = true
    name = "BPL_JMX_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java remote debugging support"
    launch = true
    name = "BPL_DEBUG_ENABLED"

  [[metadata.configurations]]
    default = "8000"
    description = "configure the remote debugging port"
    launch = true
    name = "BPL_DEBUG_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "configure whether to suspend execution until a debugger has attached"
    launch = true
    name = "BPL_DEBUG_SUSPEND"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Flight Recording (JFR)"
    launch = true
    name = "BPL_JFR_ENABLED"

  [[metadata.configurations]]
    default = ""
    description = "configure custom Java Flight Recording (JFR) arguments"
    launch = true
    name = "BPL_JFR_ARGS"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "enables running jlink tool to generate custom JRE"
    name = "BP_JVM_JLINK_ENABLED"

  [[metadata.configurations]]
    build = true
    default = "--no-man-pages --no-header-files --strip-debug --compress=1"
    description = "configure custom link arguments (--output must be omitted)"
    name = "BP_JVM_JLINK_ARGS"

  [[metadata.configurations]]
    default = ""
    description = "write heap dumps on error to this path"
    launch = true
    name = "BPL_HEAP_DUMP_PATH"

  [[metadata.configurations]]
    build = true
    default = "21"
    description = "the Java version"
    name = "BP_JVM_VERSION"

  [[metadata.configurations]]
    build = true
    default = "JRE"
    description = "the JVM type - JDK or JRE"
    name = "BP_JVM_TYPE"

  [[metadata.configurations]]
    description = "the JVM launch flags"
    launch = true
    name = "JAVA_TOOL_OPTIONS"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.9:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Oracle JDK"
    purl = "pkg:generic/oracle-jdk@21.0.9?arch=amd64"
    sha256 = "0854421306468559813f1e5068e036213f9710e1e239d823c0d63552a1259e25"
    stacks = ["*"]
    uri = "https://download.oracle.com/java/21/archive/jdk-21.0.9_linux-x64_bin.tar.gz"
    version = "21.0.9"

    [[metadata.dependencies.licenses]]
      type = "Oracle No-Fee Terms and Conditions License"
      uri = "https://www.oracle.com/downloads/licenses/no-fee-license.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.1:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Oracle JDK"
    purl = "pkg:generic/oracle-jdk@25.0.1?arch=amd64"
    sha256 = "a159db241c72f804ec7c862d465f8237e31d36a463e0b86e18f68bc654dcef91"
    stacks = ["*"]
    uri = "https://download.oracle.com/java/25/archive/jdk-25.0.1_linux-x64_bin.tar.gz"
    version = "25.0.1"

    [[metadata.dependencies.licenses]]
      type = "Oracle No-Fee Terms and Conditions License"
      uri = "https://www.oracle.com/downloads/licenses/no-fee-license.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.9:*:*:*:*:*:*:*:*"]
    id = "native-image-svm"
    name = "Oracle GraalVM"
    purl = "pkg:generic/graalvm-jdk@21.0.9?arch=amd64"
    sha256 = "70b4d25fbb311d988b86c9b61e57802a8b967db616ee617230c3181276e41f71"
    stacks = ["*"]
    uri = "https://download.oracle.com/graalvm/21/archive/graalvm-jdk-21.0.9_linux-x64_bin.tar.gz"
    version = "21.0.9"

    [[metadata.dependencies.licenses]]
      type = "GraalVM Free Terms and Conditions License"
      uri = "https://www.oracle.com/downloads/licenses/graal-free-license.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.1:*:*:*:*:*:*:*:*"]
    id = "native-image-svm"
    name = "Oracle GraalVM"
    purl = "pkg:generic/graalvm-jdk@25.0.1?arch=amd64"
    sha256 = "d4ab02ba1029e639f03374fdf91c242e1d0d49079880e1af1932ea7b7c431837"
    stacks = ["*"]
    uri = "https://download.oracle.com/graalvm/25/archive/graalvm-jdk-25.0.1_linux-x64_bin.tar.gz"
    version = "25.0.1"

    [[metadata.dependencies.licenses]]
      type = "GraalVM Free Terms and Conditions License"
      uri = "https://www.oracle.com/downloads/licenses/graal-free-license.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.9:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Oracle JDK"
    purl = "pkg:generic/oracle-jdk@21.0.9?arch=arm64"
    sha256 = "6e0eef0f229e121dd432358b60e2755bc0916b207bcef014839c78cf9e4367ac"
    stacks = ["*"]
    uri = "https://download.oracle.com/java/21/archive/jdk-21.0.9_linux-aarch64_bin.tar.gz"
    version = "21.0.9"

    [[metadata.dependencies.licenses]]
      type = "Oracle No-Fee Terms and Conditions License"
      uri = "https://www.oracle.com/downloads/licenses/no-fee-license.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.2:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Oracle JDK"
    purl = "pkg:generic/oracle-jdk@25.0.2?arch=arm64"
    sha256 = "1aaf2d46506ecdf15569d5d3f0c2295a7c18795ec7a6ee030cf19406daccd0dc"
    stacks = ["*"]
    uri = "https://download.oracle.com/java/25/archive/jdk-25.0.2_linux-aarch64_bin.tar.gz"
    version = "25.0.2"

    [[metadata.dependencies.licenses]]
      type = "Oracle No-Fee Terms and Conditions License"
      uri = "https://www.oracle.com/downloads/licenses/no-fee-license.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.9:*:*:*:*:*:*:*:*"]
    id = "native-image-svm"
    name = "Oracle GraalVM"
    purl = "pkg:generic/graalvm-jdk@21.0.9?arch=arm64"
    sha256 = "5e9d48974b42695dcb438c87205f8a8a0d5c5b2c97d752d369ab301b4c5cf7ed"
    stacks = ["*"]
    uri = "https://download.oracle.com/graalvm/21/archive/graalvm-jdk-21.0.9_linux-aarch64_bin.tar.gz"
    version = "21.0.9"

    [[metadata.dependencies.licenses]]
      type = "GraalVM Free Terms and Conditions License"
      uri = "https://www.oracle.com/downloads/licenses/graal-free-license.html"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.1:*:*:*:*:*:*:*:*"]
    id = "native-image-svm"
    name = "Oracle GraalVM"
    purl = "pkg:generic/graalvm-jdk@25.0.1?arch=arm64"
    sha256 = "edd77565c76570a6df5f38e53d54524102f2c1b1cf74eebd9f51e7fc19f667cd"
    stacks = ["*"]
    uri = "https://download.oracle.com/graalvm/25/archive/graalvm-jdk-25.0.1_linux-aarch64_bin.tar.gz"
    version = "25.0.1"

    [[metadata.dependencies.licenses]]
      type = "GraalVM Free Terms and Conditions License"
      uri = "https://www.oracle.com/downloads/licenses/graal-free-license.html"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
